doctype html
html
  = render 'layouts/head'
  body
    = render 'layouts/header'
    .bkg-image
      .bkg-mask
        .container
          - flash.each do |message_type, message|
            = content_tag(:div,message, class: "alert alert-#{message_type}")
          = yield
          = render 'layouts/footer'
          - #= debug(params) if Rails.env.development?
